<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div>
  <ion-content class="login-content">
    <div class="login-content__logo">
        <img src="../../assets/imgs/logo_white.svg">
    </div>
    <form *ngIf="!signUp" class="login-content__form">
      <div class="login-content__form-item">
          <label for="login_email">E-mail</label>
          <input type="text" name="login_email" id="" value="" />
      </div>
      <div class="login-content__form-item">
          <label for="login_senha">Senha</label>
          <input type="password" name="login_senha" id="" value="" />
      </div>
      <div class="login-content__form-item">
          <input type="submit" value="Entrar" (click)="entrar()"/>
      </div>
      <span (click)="loginOrSingUp()">Não tem cadastro? <u>Cadastre-se!</u></span>
    </form>

    <form *ngIf="signUp" class="login-content__form">
      <div class="login-content__form-item">
        <label for="login_name">Nome</label>
        <input type="text" name="login_name" id="" value="" />
    </div>
      <div class="login-content__form-item">
          <label for="login_email">E-mail</label>
          <input type="text" name="login_email" id="" value="" />
      </div>
      <div class="login-content__form-item">
          <label for="login_senha">Senha</label>
          <input type="password" name="login_senha" id="" value="" />
      </div>
      <div class="login-content__form-item">
          <input type="submit" value="Cadastrar" (click)="entrar()"/>
      </div>
      <span (click)="loginOrSingUp()">Já tem cadastro? <u>Logar!</u></span>
    </form>
  </ion-content>
</div>


