page-home {
    .scroll-content{
        overflow:hidden;
    }
}

.navbar{
    &__item-troca{
        width: calc(100% - 60px)
    }
    &__chat{
        .bubble{
            background-color: red;
            font-size: 11px;
            font-weight: bold;
            color: white;
            padding: 0 3px;
            border-radius: 7px;
            position: absolute;
            margin-left: 10px;
            margin-top: -10px;
        }        
    }
}
.bg-fluid{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -99;
    left: 0;
    top: -10%;
    background-image: url('../../assets/imgs/bg_fluid.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    transition: .5s ease;
}
.card-container{
    margin-top: 3%;
    height: 77%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__empty{
        color: white;
        font-size: 16px;
    }
}
.card{
    width: calc(100% - 64px);
    height: 73%;
    position: absolute;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0,0,0,.25);
    overflow: hidden;
    transition: margin-top .2s ease, box-shadow .2s ease;
    &__imagem{
        height: 60%;
        background-size: cover;
        background-position: center;
        margin-bottom: 12px;
    }
    span{
        font-size: 20px;
        font-weight: bold;
        color: #333;
        display: block;
        padding: 4px 16px 0 16px;
    }
    p{
        font-size: 16px;
        color: #666;
        display: block;
        padding: 0 16px;
        height: calc(40% - 105px);
        overflow: hidden;
    }
    &__more{
        width: 100%;
        text-align: right;
        padding: 0 16px;
        a{
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            color: map-get($colors, primary);     
        }
    }
    &:nth-last-of-type(2){
        margin-top: 5px;
        box-shadow: 0 6px 16px rgba(0,0,0,.25);
    }
    &:nth-last-of-type(3){
        margin-top: 10px;
        box-shadow: 0 6px 16px rgba(0,0,0,.25); 
    }
    &:nth-of-type(-n){
        margin-top: 10px;
        box-shadow: none;        
    }
}

.buttons{
    width: 100%;
    height: calc(30% - 64px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .button{
        width: 128px;
        height: 56px;
        border-radius: 28px;
        border: 3px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: 0 8px 16px rgba(0,0,0,.25);
        transition: .18s ease;
        &:active>svg{
            fill: #fff!important;
        }
        &__nope{
            border-color: red;
            svg{
                fill: red;
            }
            &:active{
                background-color: red;
            }
        }
        &__want{
            border-color: map-get($colors, primary);
            svg{
                fill: map-get($colors, primary);
            }
            &:active{
                background-color: map-get($colors, primary);
            }
        }
        &:active{
            box-shadow: 0 2px 4px rgba(0,0,0,.12);
        }
    }
}

