<!--
  Generated template for the ProductRegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Novo item</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" (click)="saveNewProduct()">
        Salvar
      </button> 
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form class="basic-form__form">
    <div class="basic-form__form-item">
        <input type="text" name="register_title" [(ngModel)]="this.name" required/>
        <label for="register_title">Título</label>
    </div>
    <div class="select basic-form__form-item">
        <select name="register_category" [(ngModel)]="this.platform" required>          
          <option disabled></option>
          <option value="Playstation">Playstation</option>
          <option value="Xbox One">Xbox One</option>
          <option value="Switch">Switch</option>
          <option value="PC">PC</option>
        </select>
        <label for="register_category">Categoria</label>
    </div>
    <div class="basic-form__form-item">
        <textarea name="register_description" [(ngModel)]="this.description" required></textarea>
        <label for="register_description">Descrição (opcional)</label>
    </div>
    <div class="select basic-form__form-item">
        <select name="register_category" [(ngModel)]="this.genre" required>          
          <option disabled></option>
          <option value="Ação">Ação</option>
          <option value="Aventura">Aventura</option>
          <option value="Corrida">Corrida</option>
          <option value="RPG">RPG</option>
        </select>
        <label for="register_category">Categoria</label>
    </div>
    <div class="select basic-form__form-item">
      <select name="register_condition" [(ngModel)]="this.status" required>          
        <option disabled></option>
        <option value="volvo">Novo</option>
        <option value="saab">Seminovo</option>
        <option value="mercedes">No estado</option>
      </select>
      <label for="register_condition">Condição</label> 
  </div>
    <div class="basic-form__form-item">
      <label class="outer-label">Imagens ({{imgCount}} de 3)</label>
      <div class="image-upload__container">

        <div *ngIf="imgCount >=1" class="image-upload" (click)="removeImage(1)" [ngStyle]="{ 'background-image': 'url(' + imgURL[1] + ')'}"></div>
        <div *ngIf="imgCount >=2" class="image-upload" (click)="removeImage(2)" [ngStyle]="{ 'background-image': 'url(' + imgURL[2] + ')'}"></div>
        <div *ngIf="imgCount >=3" class="image-upload" (click)="removeImage(3)" [ngStyle]="{ 'background-image': 'url(' + imgURL[3] + ')'}"></div>

        <div *ngIf="imgCount == 0" class="image-upload" (click)="file0.click()">+</div>
        <div *ngIf="imgCount == 1" class="image-upload" (click)="file1.click()">+</div>
        <div *ngIf="imgCount == 2" class="image-upload" (click)="file2.click()">+</div>

        <input type="file" name="fileupload" (change)="imagePreview(file0.files)" #file0 hidden>
        <input type="file" name="fileupload" (change)="imagePreview(file1.files)" #file1 hidden>
        <input type="file" name="fileupload" (change)="imagePreview(file2.files)" #file2 hidden>
        
      </div>      
    </div>

    

    <div class="basic-form__form-item">
        <label class="outer-label" for="">Troca por</label>
        <div class="chips__container">
            <span [ngClass]="{'chips--active': exchangeFor[0] == true}" class="chips" (click)="exchangeForCategory(0)">Ação</span>
            <span [ngClass]="{'chips--active': exchangeFor[1] == true}" class="chips" (click)="exchangeForCategory(1)">Aventura</span>
            <span [ngClass]="{'chips--active': exchangeFor[2] == true}" class="chips" (click)="exchangeForCategory(2)">Corrida</span>
            <span [ngClass]="{'chips--active': exchangeFor[3] == true}" class="chips" (click)="exchangeForCategory(3)">RPG</span>
        </div>
    </div>

  </form>  
</ion-content>
