<!-- Generated template for the ProductSelectorComponent component -->


<div class="product-selector__title">Troca por</div>
<span class="product-selector__name">{{name}}</span>

<div class="product-selector__down" (click)="toggleModal()">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
      <path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path>
    </svg>
</div>

<div *ngIf="modalAberta" [ngClass]=opacityClass class="product-selector__modal animate-show animate-hide">
  <div class="product-selector__modal-header">
      <span>Itens</span>
  </div>
  <div class="product-selector__modal-content">    
    <ul>
      <li (click)="newItem()">
        <div>+</div>
        <span>Adicionar...</span>
      </li>
    </ul>
    <ul>      
      
      <li *ngFor="let item of this.meusItens" (click)="select(item.id)">
        <div [style.backgroundImage]="'url('+ item.images[0].url +')'" [ngClass]="{'item-selected': item.selected}"></div>
        <span> {{ item.name }}</span>
        <button (click)="select(item.id)">
          <svg (click)="newItem()" aria-hidden="true" focusable="false" data-prefix="far" data-icon="edit" class="svg-inline--fa fa-edit fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"></path></svg>
        </button>
      </li>
      
    </ul>
  </div>
  <div class="product-selector__modal-footer">
      <button (click)="toggleModal()" ion-button clear>OK</button>
  </div>
</div>