page-options {
    .logout{
        background-color: rgb(231, 88, 88);
        border-radius: 30px;
        padding: 5px 15px;
        color: white;
        font-weight: 800;
        font-size: 15px;
        position: absolute;
        bottom: 50px;
    }
}
